.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#primeira-linha {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

#close-btn {
    /* position: relative;
    top: -20px;
    left: 230px; */
    cursor: pointer;
    background: none;
    border: none;
    color: red;
    font-size: 17px;
    font-weight: bolder;
}